/*Lebenskraft-Font*/
@font-face {
    font-family: "BigMisterC";
    src: url('../fonts/Bigmcn__.ttf');
}
@font-face {
    font-family: "MyriadPro-Regular";
    src: url('../fonts/MyriadPro-Regular.otf');
}

/*Ursaat Picture Mobile*/
.zPic{
    z-index: -11 !important;
}

#zumShop{
    margin-top: -100px;
}

.col-xs-12 .ursaatPicture{
    background-image: url(../media/cereals3.jpg);
    width: 100%;
    height: 183px;
    color:white;
    padding-top: 1px;
    text-align: right;
    z-index: -10;
}


.col-xs-12 .ursaatPicture_XS{
    height: 200px;
}
.col-xs-12 .ursaatText {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.col-xs-12 p{
    padding-bottom: 0;
    margin-bottom: 0;
}


.col-xs-12 .ursaatPicture button{
    background-color:#fbba00;
    border: 0;
}

.col-xs-12 .ursaatPicture h1{
    font-size: 35px;
}

.col-xs-12 .ursaatPicture p{
    font-size: 20px;
    left: 50px;
}

.ursaatText_MD{
    display: flex;
    align-items: center;
}




/* Ursaat Picture Desktop*/
.col-md-12 .ursaatPicture{
    background-image: url(../media/cereals3.jpg);
    width: 100%;
    height: 500px;
    overflow: hidden;
    color:white;
    padding-top: 100px;
    text-align: right;
    background-repeat: no-repeat;
}

.col-md-12 .ursaatText {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.col-md-12 .ursaatPicture button{


    float:left;
    width: 200px;
    border: #fbba00 solid 4px;
    cursor:pointer;
    color: white;
    background-color: #fbba00;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight:700;

}
.ursaatPicture_MD button{
    margin-left: 0vw;
}
.col-md-12 .ursaatPicture button:hover{

    background-color: transparent;
    color: #fbba00;
    border: #fbba00 solid 4px;
}

.col-md-12 .ursaatPicture h1{
    font-size: 35px;
}

.col-md-12 .ursaatPicture p{
    font-size: 20px;
    left: 50px;
}


/*Startseite News*/
.contentmargin{
    margin-top:30px;
}
.news{
    display: flex;
}


.newsWrapper{
    margin: 20px auto;
    width: 90%;
    background-color: #fbba00;
    text-align: center;

}
.newsWrapper a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.newsWrapper p{
    margin: 0;
}
.newsWrapper img{
    padding-top: 2%;
    width: 96%;
}

.newsWrapper div{
    width: 96%;
    background-color: white;
    text-align: center;
    padding: 0 5px 0 5px;
    margin: auto;
}

.newsWrapper h3 {
    font-size: 2em;
    margin: 0 5px 0;
    padding-top: 10px;
    font-family: BigMisterC;
    font-weight: bold;
    color: #fbba00;
}

.newsDesktopH1 h1{
    color: #fbba00;
    margin-left: 35px;
    margin-bottom: 50px;
}

.News_header_distance {
    margin-left: -17px;
}

.News_header_distance_smallHeadings{
    margin-left: -12px;
}

/********************News**********************/
/*selectboxes*/
.searching select, .searching .search_news{
    background-color: #fbfbfb;
    border: 1px solid black;
    color: #3c3c3c;
    width: 90vw;
    height: 35px;
    margin: 0 5vw 1vh 5vw;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}


/*********Desktop-News*******/


.newsDesktop{
    display: flex;
    flex-direction: row;
}
#searchTriangle{
    float: left;
    margin-top: 7px;
    font-size: 2.5em;
    margin-left: 5px;
}

#searchBarDesktop{
    opacity: 1;
    transition: 0.5s;
}

.newsDesktop select,.newsDesktop .search_news{
    background-color: white;
    display: flex;
    border: 1px solid black;
    color: black;
    width: 21vw;
    height: 50px;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;
}

.newsDesktop select:focus,.newsDesktop .search_news:focus{
    background-color: white;
    display: flex;
    border: 1px solid #fbba00;
    width: 21vw;
    height: 50px;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;

}

/*Top News*/
.contentHeaderMD2 p{
    color: black;
}
.contentHeaderMD2{
    width: 96% ;
    margin-top: 5vw;
    margin-left: 2%;
}

.contentHeaderMD2 h3{
    color: #fbba00;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.border_topNews{
    border: 4px solid #fbba00;
    width: 97%;
    margin: auto;
}

.topNews_Image{
    width: 103%;
}

.topNews_Image_wrapper{
    z-index: -200;
}



.newsWrapper .zumShop{
    background-color: #fbba00;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-3 .newsWrapper{
    width:30vw;
    margin-left: 200px;
}

.placeholder{
    height:20px;
    width:100%
}

#mobilefilter {
    margin-left: 15px;
    opacity: 0;
    margin-bottom: -140px;
    transition: 0.5s;
}

#mobileFilterButton{
    width: 62vw;
    border: #fbba00 solid 4px;
    color: white;
    background-color: #fbba00;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:5px;
    font-weight:700;
    margin-left: 25vw;
    margin-bottom: 10px;
}

#mobilefilter .search_news{
    margin: 5px 0 5px 1vw;
    width: 89vw;
    padding: 0 10px;
    background-color: white;
    border: 1px solid black;
    color: #3c3c3c;
    height: 35px;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}

.seite{
    text-align: right;
    margin-right: 1vw;
    font-size: 1.2em;
}
.seite a:hover{
    color:#fbba00;
}

.seite .actual{
    color: #fbba00;
}

.shoppingcart_conf_desk{
    color: white;
    margin:auto;
}


/*****media query********/
@media (max-width: 1150px) {
    .contentHeaderMD2 p {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/**************************************************************ASdfasdfasDF*****************************/

.featuredProducts{
     margin-left: 1vw;
     margin-right: 1vw;
 }
.mobileH1{
    color: #fbba00;
    font-size: 30px;
    font-weight: bold;
}
.center{
    text-align: center;
}

.mobileH1News{
    margin: 10px auto;
}
.products div{
    display: flex;
    text-align: right;
    height: 100px;
    align-items: center;
    color: #fbba00;
    font-size: 40px;
}
.products{

    /*padding-bottom: 20px;*/
    /*border-bottom: 1px solid #f0b300;*/
}

.productdescription div{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
    margin-top: -35px;

}
.productdescription{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}

.arrow_right{
    display: flex;
    justify-content: flex-end;
}

.products img{
    height: 100%;
}

.products a{
}

.startpage_product_desc{
    font-size: 25px;
    color: black;
}
.startpage_product_shoppingcart{
    display: flex;
    flex-direction: column;
}

/*FeaturedProducts*/

.col-md-12 .row.products{
    height: 370px;
}

.col-md-12 .row.products div{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.desktopPics{
    font-size: 50px;
    border-top: 1px solid #fbba00;
    border-bottom: 1px solid #fbba00;
}
.desktopPics img{
    height: 300px;
    width: auto;
}

.shoppingcart_conf_desk{
    background-color: #fbba00;
    width: 97px;
    text-align: center;
    border: 1px solid #fbba00;
}
.shoppingcart_conf_desk:hover{
    background-color: white;
    color: #fbba00;
    transition: 0.3s;
    cursor: pointer;
}

/********************News**********************/
/*breadcrumbs
.breadcrumbs{
    height: 03vh;
    color: #fbba00;
    display: flex;
}*/
/*selectboxes*/
.searching select, .searching .search_news{
    background-color: #fbfbfb;
    border: 1px solid black;
    color: #3c3c3c;
    width: 90vw;
    height: 35px;
    margin: 0 5vw 1vh 5vw;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}


/*********Desktop-News*******/


.newsDesktop{
    display: flex;
    flex-direction: row;
}
.newsDesktop select,.newsDesktop .search_news{
    background-color: white;
    display: flex;
    border: 1px solid black;
    color: black;
    width: 21vw;
    height: 50px;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;
    -webkit-appearance: none;
    border-radius: 0px;
}

.newsDesktop select:focus,.newsDesktop .search_news:focus{
    background-color: white;
    display: flex;
    border: 1px solid #fbba00;
    width: 21vw;
    height: 50px;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;

}

.col-md-3 .newsWrapper{
    width:30vw;
    margin-left: 200px;
}

.placeholder{
    height:20px;
    width:100%
}



/*Konfigurator*/
/*Desktop*/
.konfiguratorEingaben{
    background-color: white;
    display: flex;
    margin-top: 20px;
}
.konfiguratordesktopwhite{
    background-color: white;
    display: flex;
}

.konfiguratordesktopwhite h2{
    color: #fbba00;
    font-size: xx-large;
}




.konfiguratorEingaben select, .konfiguratorEingaben input{
    background-color: white;
    border: 1px solid black;
    color: #3c3c3c;
    width: 60vw;
    height: 35px;
    margin-left: 20vw;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
    margin-bottom: 10px;
}

#berechnen{
    width: 60vw;
    border: #fbba00 solid 4px;
    cursor:pointer;
    color: white;
    background-color: #fbba00;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:5px;
    font-weight:700;
    margin-left: 20vw;
    margin-bottom: 10px;
}

#berechnen:hover{
    background-color: white;
    color: #fbba00;
    border: #fbba00 solid 4px;
}
.ergebnisse{
    height: 300px;
}

.ergebnisse h1{
    font-family: BigMisterC;
    font-weight: bolder;
    color: #fbba00;
    text-align: center;
}

#berechnenMobile{
    background-color: white;
    margin-bottom: 10px;
    margin-left: 5vw;
    border: 1px solid black;
}
.konfiguratorEingabenMobile select, .konfiguratorEingabenMobile input{
    background-color: white;
    border: 1px solid black;
    color: #3c3c3c;
    width: 80vw;
    height: 35px;
    margin: 0 5vw 1vh 5vw;
    font-family: "MyriadPro-Regular", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}
.konfiguratorTextDesktop{
 margin: auto 5vw auto 5vw;
    background-color: white;
}

.configurator_products{
    display: none;
}

.productdescription_configurator img{
    width: 150px;
    margin-right: 10px;
}

.product_dist{
    margin-top: -20px;
}

.productdescription_configurator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configurator_products_header{
    text-align: left;
    margin-left: 10px;
}

.shoppingcart_conf{
    background-color: #fbba00;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingcart_conf i{
    font-size: 1.5em;
}

.special {
    margin-left: -15px;
}

#btn_zumShop:hover{
    background: lightcoral;

}


#btn_zumShop{

    float:left;
    width: 200px;
    border: #fbba00 solid 4px;
    cursor:pointer;
    color: white;
    background-color: #fbba00;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#btn_zumShop:hover, #btn_zumShop{
    background-color: white;
    color: #fbba00;
    border: #fbba00 solid 4px;

}

#searchTriangle{
    margin-left: 2vw;
     margin-bottom: 20px;
}


.newsWrapper a, .downMenu a{
    font-family: "MyriadPro-Regular";
}

a{
    font-family: "MyriadPro-Regular";
}

.mobileNewsImg{
    width: 100%;
    margin-top:0;
}
.mobileNewsText{
    padding: 13px;
}
.backToNews{
    float: left;
    width: 200px;
    border: #fbba00 solid 4px;
    cursor: pointer;
    color: white;
    background-color: #fbba00;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    margin: 20px 0 0 13px;
    text-align: center;
}



.desktopNewsAnsicht{
    padding-top: 50px;
    background-color: #e8e8e8;
}
.desktopNewsAnsicht a{
    margin: 20px 0 13px -3px;
}

.desktopNewsAnsicht img{
    width: 100%;
    margin-bottom: 20px;

}
.impressum_box{
    margin-top: 20px;
}

.Margin_bottom_header{
    margin-bottom: 20px;
}