body {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 300;
}

/*   Inhaltsseite stylen */
/* Allgemeines */
.content-page {
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    font-size: 1.2em;
}

.content {
    margin-bottom: 8px;
}

/*  Überschriften  */
h1 {
    font-weight: 500;
    color: white;
    font-size: 2.1em;
    font-family: BigMisterC, serif;
}
.contentHeader {
    background-color: #fbba00;
}
/* 3Eck unter h1 (darunter Bild!)*/
.dreieck {
    width: 0;
    height: 0;
    border-bottom: 40px solid #fbba00;
    border-left: 40px solid transparent;
    position: absolute;
    bottom: -19px;
    left: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
    z-index: 100;
    transform: rotate(45deg);
}
/*  Unterüberschriften stylen*/
h2 {
    font-weight: 400;
    color: #fbba00;
    font-size: 1.8em;
    font-family: BigMisterC, sans-serif;
}
@font-face {
    font-family: "BigMisterC";
    src: url('../fonts/Bigmcn__.ttf');
}
/* breadcrumbs*/
.breadcrumbs {
    color: #fbba00;
    margin-top: 9px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

/* bild nach h1*/
.headerBilder {
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    margin: 0 0 8px -15px;
}

#hofladen, .marcel{
    width: 90vw;
    align-content: center;
    margin-top: 5px;
}

.ohneFoto {
    margin-bottom: 30px;
}

/* ------ Kooperationen -------- */
.link_zu_partner {
    color: #fbba00;
    font-size: larger;
}

.kooperationen_logo_div {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 10px;
}

.kooperationen_logo {
    width: 100%;
}

.trennstrich {
    background-color: #fbba00;
    margin-bottom: 10px;
    width: 80%;
}

.bold {
    font-weight: 800;
}
/* ???????????? */
.center {
    text-align: center;
}




