/*Lebenskraft-Font*/
@font-face {
    font-family: "BigMisterC";
    src: url('../fonts/Bigmcn__.ttf');
}
@font-face {
    font-family: "MyriadPro-Regular";
    src: url('../fonts/MyriadPro-Regular.otf');
}

/*featured Products*/
.featuredProducts{
    margin-left: 1vw;
    margin-right: 1vw;
}
.mobileH1{
    color: #fbba00;
    font-size: 30px;

}
.center{
    text-align: center;
}

.mobileH1News{
    margin: 10px auto;
}
.products div{
    display: flex;
    text-align: right;
    height: 100px;
    align-items: center;
    color: #fbba00;
    font-size: 40px;
}
.products{

    padding-bottom: 20px;
    /*border-bottom: 1px solid #f0b300;*/
}

.productdescription div{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
    margin-top: -35px;

}
.productdescription{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}
.arrow{
    margin-top: 100px;
}

.products img{
    height: 100%;
}

.products a{
}


/*FeaturedProducts*/

.col-md-12 .row.products{
    height: 300px;
}
.desktopPics{
    font-size: 50px;
    border-top: 1px solid #fbba00;
    border-bottom: 1px solid #fbba00;
}
.desktopPics img{
    height: 300px;
    width: auto;

}


/*Ursaat Picture Mobile*/
.zPic{
    z-index: -3;
}
.col-xs-12 .ursaatPicture{
    background-image: url(../media/Hirse.jpg);
    width: 100%;
    height: 183px;
    color:white;
    padding-top: 1px;
    text-align: right;
    z-index: -10;
}
.col-xs-12 .ursaatText {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.col-xs-12 p{
    padding-bottom: 0;
    margin-bottom: 0;
}

.col-xs-12 .ursaatPicture button{
    background-color:#fbba00;
    border: 0;
    margin-right: 30px;
}

.col-xs-12 .ursaatPicture h1{
    font-size: 35px;
}

.col-xs-12 .ursaatPicture p{
    font-size: 20px;
    left: 50px;
}

/* Ursaat Picture Desktop*/
.col-md-12 .ursaatPicture{
    background-image: url(../media/Hirse.jpg);
    max-width: 100%;
    height: 500px;
    color:white;
    padding-top: 100px;
    text-align: right;
    background-repeat: no-repeat;
}
.col-md-12 .ursaatText {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.col-md-12 .ursaatPicture button{
    background-color: #fbba00;
    border: 0;
    margin-right: 46vw;
    font-size: x-large;

}

.col-md-12 .ursaatPicture button:hover{
    background-color:white;
    color:#fbba00;
    border: 1px solid #fbba00;
    margin-right: 46vw;
    transition: 0.3s;
    font-size: x-large;

}

.col-md-12 .ursaatPicture h1{
    font-size: 35px;
}

.col-md-12 .ursaatPicture p{
    font-size: 20px;
    left: 50px;
}


/*Startseite News*/
.contentmargin{
    margin-top:30px;
}
.news{
    padding: 20px 0;
    display: flex;
    text-align: center;
}


.newsWrapper{
    margin: 0 auto;
    width: 90%;
    background-color: #fbba00;
    padding-bottom: 10px;
    text-align: center;

}
.newsWrapper a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.newsWrapper img{
    padding-top: 2%;
    width: 96%;
}

.newsWrapper div{
    width: 96%;
    background-color: white;
    text-align: center;
    padding: 0 6vw 3vh 6vw;
    margin: auto;
}

.newsWrapper h1{
    margin: 0 5px 0;
    padding-top: 10px;
    font-family: BigMisterC;
    font-weight: bolder;
    color: #fbba00;
}

.newsDesktopH1 h1{
    color: #fbba00;
    margin-left: 35px;
    margin-bottom: 50px;
}

.News_header_distance {
    margin-left: -17px;
}

/********************News**********************/
/*breadcrumbs*/
.breadcrumbs{
    height: 03vh;
    color: #fbba00;
    display: flex;
    text-align: center;
}
/*selectboxes*/
.searching select, .searching .search_news{
    background-color: #fbfbfb;
    border: 1px solid black;
    color: #3c3c3c;
    width: 90vw;
    height: 35px;
    margin: 0 5vw 1vh 5vw;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}


/*********Desktop-News*******/


.newsDesktop{
    display: flex;
    flex-direction: row;
}
.newsDesktop select,.newsDesktop .search_news{
    background-color: white;
    display: flex;
    border: 1px solid black;
    color: black;
    width: 21vw;
    height: 50px;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;
}

.newsDesktop select:focus,.newsDesktop .search_news:focus{
    background-color: white;
    display: flex;
    border: 1px solid #fbba00;
    width: 21vw;
    height: 50px;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;

}

.col-md-3 .newsWrapper{
    width:30vw;
    margin-left: 200px;
}

.placeholder{
    height:20px;
    width:100%
}



/**************************************************************ASdfasdfasDF*****************************/

.featuredProducts{
     margin-left: 1vw;
     margin-right: 1vw;
 }
.mobileH1{
    color: #fbba00;
    font-size: 30px;
}
.center{
    text-align: center;
}

.mobileH1News{
    margin: 10px auto;
}
.products div{
    display: flex;
    text-align: right;
    height: 100px;
    align-items: center;
    color: #fbba00;
    font-size: 40px;
}
.products{

    padding-bottom: 20px;
    /*border-bottom: 1px solid #f0b300;*/
}

.productdescription div{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
    margin-top: -35px;

}
.productdescription{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}
.arrow{
    margin-top: 100px;
}

.products img{
    height: 100%;
}

.products a{
}


/*FeaturedProducts*/

.col-md-12 .row.products{
    height: 300px;
}
.desktopPics{
    font-size: 50px;
    border-top: 1px solid #fbba00;
    border-bottom: 1px solid #fbba00;
}
.desktopPics img{
    height: 300px;
    width: auto;

}


/*Ursaat Picture Mobile*/
.zPic{
    z-index: -3;
}
.col-xs-12 .ursaatPicture{
    background-image: url(../media/Hirse.jpg);
    width: 100%;
    height: 183px;
    color:white;
    padding-top: 1px;
    text-align: right;
    z-index: -10;
}
.col-xs-12 .ursaatText {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.col-xs-12 p{
    padding-bottom: 0;
    margin-bottom: 0;
}

.col-xs-12 .ursaatPicture button{
    background-color:#fbba00;
    border: 0;
    margin-right: 30px;
}

.col-xs-12 .ursaatPicture h1{
    font-size: 35px;
}

.col-xs-12 .ursaatPicture p{
    font-size: 20px;
    left: 50px;
}

/* Ursaat Picture Desktop*/
.col-md-12 .ursaatPicture{
    background-image: url(../media/Hirse.jpg);
    max-width: 100%;
    height: 500px;
    color:white;
    padding-top: 100px;
    text-align: right;
    background-repeat: no-repeat;
}
.col-md-12 .ursaatText {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.col-md-12 .ursaatPicture button{
    background-color: #fbba00;
    border: 0;
    margin-right: 46vw;
    font-size: x-large;

}

.col-md-12 .ursaatPicture button:hover{
    background-color:white;
    color:#fbba00;
    border: 1px solid #fbba00;
    margin-right: 46vw;
    transition: 0.3s;
    font-size: x-large;

}

.col-md-12 .ursaatPicture h1{
    font-size: 35px;
}

.col-md-12 .ursaatPicture p{
    font-size: 20px;
    left: 50px;
}


/*Startseite News*/
.contentmargin{
    margin-top:30px;
}
.news{
    padding: 20px 0;
    display: flex;
    text-align: center;
}


.newsWrapper{
    margin: 0 auto;
    width: 90%;
    background-color: #fbba00;
    padding-bottom: 10px;
    text-align: center;

}
.newsWrapper a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.newsWrapper img{
    padding-top: 2%;
    width: 96%;
}

.newsWrapper div{
    width: 96%;
    background-color: white;
    text-align: center;
    padding: 0 6vw 3vh 6vw;
    margin: auto;
}

.newsWrapper h1{
    margin: 0 5px 0;
    padding-top: 10px;
    font-family: BigMisterC;
    font-weight: bolder;
    color: #fbba00;
}

.newsDesktopH1 h1{
    color: #fbba00;
    margin-left: 35px;
    margin-bottom: 50px;
}


/********************News**********************/
/*breadcrumbs*/
.breadcrumbs{
    height: 03vh;
    color: #fbba00;
    display: flex;
    text-align: center;
}
/*selectboxes*/
.searching select, .searching .search_news{
    background-color: #fbfbfb;
    border: 1px solid black;
    color: #3c3c3c;
    width: 90vw;
    height: 35px;
    margin: 0 5vw 1vh 5vw;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}


/*********Desktop-News*******/


.newsDesktop{
    display: flex;
    flex-direction: row;
}
.newsDesktop select,.newsDesktop .search_news{
    background-color: white;
    display: flex;
    border: 1px solid black;
    color: black;
    width: 21vw;
    height: 50px;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;
}

.newsDesktop select:focus,.newsDesktop .search_news:focus{
    background-color: white;
    display: flex;
    border: 1px solid #fbba00;
    width: 21vw;
    height: 50px;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0 5px 2vw;
    margin-bottom: -60px;

}

.col-md-3 .newsWrapper{
    width:30vw;
    margin-left: 200px;
}

.placeholder{
    height:20px;
    width:100%
}



/*Konfigurator*/
/*Desktop*/
.konfiguratorEingaben{
    background-color: white;
    display: flex;
    margin-top: 20px;
}
.konfiguratordesktopwhite{
    background-color: white;
    display: flex;
}

.konfiguratordesktopwhite h2{
    color: #fbba00;
    font-size: xx-large;
}




.konfiguratorEingaben select, .konfiguratorEingaben input{
    background-color: white;
    border: 1px solid black;
    color: #3c3c3c;
    width: 60vw;
    height: 35px;
    margin-left: 20vw;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}

#berechnen{
    width: 60vw;
    border: #fbba00 solid 4px;
    cursor:pointer;
    color: white;
    background-color: #fbba00;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:5px;
    font-weight:700;
    margin-left: 20vw;
    margin-bottom: 10px;
}

#berechnen:hover{
    background-color: white;
    color: #fbba00;
    border: #fbba00 solid 4px;
}
.ergebnisse{
    height: 300px;
}

.ergebnisse h1{
    font-family: BigMisterC;
    font-weight: bolder;
    color: #fbba00;
    text-align: center;
}

#berechnenMobile{
    background-color: white;
    margin-bottom: 10px;
    margin-left: 5vw;
    border: 1px solid black;
}
.konfiguratorEingabenMobile select, .konfiguratorEingabenMobile input{
    background-color: white;
    border: 1px solid black;
    color: #3c3c3c;
    width: 80vw;
    height: 35px;
    margin: 0 5vw 1vh 5vw;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;
}
.konfiguratorTextDesktop{
 margin: 0 5vw 1vh 5vw;
    background-color: white;


}


.special {
    margin-left: -15px;
}