/*   Inhaltsseite stylen */
/* Allgemeines */
.content-page {
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
}

.content {
    margin-bottom: 8px;
}

/*  Überschriften  */
.h1XS {
    font-weight: 500;
    color: white;
    font-size: 2.1em;
    font-family: BigMisterC, serif;
}

.h1MD {
    font-weight: 800;
    color: white;
    font-size: 3.7em;
    font-family: BigMisterC, serif;
    text-align: center;
}
.contentHeader {
    background-color: #fbba00;
}

.backgroundHeader {
    background-color: #fbba00;
    height: 90%;
}

.contentHeaderMD {
    width: 50% ;
    margin-top: 25%;
    margin-left: 25%;
}

.contentHeaderXS {
    width: 110%;
    margin-top: 0;
}

.content-text {
    width: 100%;
}

.col-md-8 > .content-text {
    margin-top: 1em;
    align-items: center;
}

/* 3Eck unter h1 (darunter Bild!)*/
.dreieckXS {
    width: 0;
    height: 0;
    border-bottom: 40px solid #fbba00;
    border-left: 40px solid transparent;
    position: absolute;
    bottom: -19px;
    left: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
    z-index: 100;
    transform: rotate(45deg);
}

.dreieckMD {
    width: 0;
    height: 0;
    border-bottom: 40px solid #fbba00;
    border-left: 40px solid transparent;
    position: absolute;
    bottom: 45%;
    left:  98%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
    z-index: 200;
    transform: rotate(-45deg);
}
/*  Unterüberschriften stylen*/
h2 {
    font-weight: 400;
    color: #fbba00;
    font-size: 1.8em;
    font-family: BigMisterC, sans-serif;
}
@font-face {
    font-family: "BigMisterC";
    src: url('../fonts/Bigmcn__.ttf');
}
/* breadcrumbs*/
.breadcrumbs {
    color: #fbba00;
    margin-top: 9px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

/* bild nach h1*/
.headerBilderMD {
    background-repeat: no-repeat;
    width: 110% ;
    height: auto;
    margin: 0 0 0 0 ;
}

.headerBilderXS {
    background-repeat: no-repeat;
    width: 110%;
    height: auto;
    margin: 0 0 0 -15px;
    z-index: 1;
}

#hofladen, .marcel{
    width: 90vw;
    align-content: center;
    margin-top: 5px;
}

.ohneFoto {
    margin-bottom: 30px;
}

/* ------ Kooperationen -------- */
.link_zu_partner {
    color: #fbba00;
    font-size: larger;
}

.kooperationen_logo_div {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.kooperationen_logo {
    width: 100%;
}

.trennstrich {
    background-color: #fbba00;
    margin-bottom: 10px;
    width: 80%;
}

.bold {
    font-weight: 800;
}
/* öffnungszeiten text zentrieren */
.centerMD, .h2MD {
    text-align: center;
}

/* orange einfärben*/
.orange > hr {
    background-color: #fbba00;
    margin-bottom: 20px;
}

.addDistance {
    margin-top: -60px;
}

.spaceTop {
    margin-top: 10px;
}
