/*Main CSS*/
body{
    top:0;
    left:0;
}
/********Header**********/
.header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b02a20;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*.col-xs-4{
    padding-left: 0px;
}*/


    /*Icons im Header*/
.shoppingcart{
    background-color: #70a039;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    background-color: #fbba00;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
}

/*Logo*/
.Logo{
    width: 80px;
}

.logo_header{
    text-align: center;
}

/*Hamburger Menu*/
.menu{
    width: 50px;
}

.menu_header{
    text-align: center;
}

/*footer*/
.lebenskraft{
    height: 50px;
    background-color: #70a039;
    text-align: center;
    font-family: BigMisterC;
    font-size: 40px;
    color: white;
}
#Le{
    color: #f0b300
}
.links{
    background-color: #816243;
    color: white;
}
.first, .second{
    height: 40px;
}
.first div:first-child, .second div:first-child{
    text-align: end;
}
.first div:nth-child(2), .second div:nth-child(2){
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin:0px;
}

.socialMedia div:nth-child(2){
    margin-top: -10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#ursaat{
    width: 100%;
}



/*Lebenskraft-Font*/
@font-face {
    font-family: "BigMisterC";
    src: url('../fonts/Bigmcn__.ttf');
}