/*Main  CSS*/
body{
    top:0;
    left:0;
    font-family: "MyriadPro-Regular";
}
/********Header**********/
.header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b02a20;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
}

/*.col-xs-4{
    padding-left: 0px;
}*/


/*Icons im Header*/
.shoppingcart{
    background-color: #70a039;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search, .search_person, .search_cart{
    background-color: #fbba00;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
    width: 32%;
}

/*Logo*/
.Logo{
    width: 80px;
}

.logo_header{
    text-align: center;
}

/*Hamburger Menu*/
.menu span{
    width: 50px;
}

.menu{
    text-align: center;
}

.ursaatPicture{
    background-image: image(media/Hirse.jpg);
}


/*footer*/
.lebenskraft{
    height: 50px;
    background-color: #70a039;
    text-align: center;
    font-family: BigMisterC;
    font-size: 40px;
    color: white;
}
#Le{
    color: #fbba00;
}
.links{
    background-color: #fbba00;
    color: white;
}
.first, .second, .display_first{
    height: 40px;
}

.display_first{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.first, .socialMedia{
    margin-top: 20px;
}
.first div:first-child, .second div:first-child, .display_first div:first-child{
    text-align: end;
}
.first div:nth-child(2), .second div:nth-child(2){
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin:0;
}

.socialMedia div:nth-child(2){
    margin-top: -10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#ursaat {
    width: 100%;
}

.footer .fa-instagram, .footer .fa-facebook{
    color: white;
}



/*Lebenskraft-Font*/
@font-face {
    font-family: "BigMisterC";
    src: url('../fonts/Bigmcn__.ttf');
}
@font-face {
    font-family: "MyriadPro-Regular";
    src: url('../fonts/MyriadPro-Regular.otf');
}

/***********Mein CSS**************/

.downMenu{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    display: none
}

.content {
    display: inherit;
}

.downMenu.open{
    display: inherit;
}

.content.remove, .footer.remove{
    display: none;
}

.downMenu div{
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}

.downMenu>div>div{
    border-bottom: 1px solid black;
    padding: 12px;
}

a, a:hover{
    text-decoration: none;
    color: black;
    font-family: "MyriadPro-Regular";
}

.menu_header{
    color:#b02a20;
}

.menu_point{
    text-transform: uppercase;
}

.facebook, .instagram{
    width: 50px;
}

.second_menu div{
    text-align: left;
}

.social_media_menu_mobile{
    display: flex;
    justify-content: space-between;
}


/********Menu************/

/* Icon 1 */

#nav-icon1{
    height: 45px;
    position: relative;
    display: flex;
    justify-content:center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span{
    display: block;
    position: absolute;
    height: 5px;
    background: #fbba00;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 36px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}



/********second menu********/
.downMenu>div>div.second_menu{
    display: none;
    padding:0;
}

.second_menu div{
    border-bottom: 1px solid white;
    padding: 12px;
    background-color: #fbba00;
}

.second_menu div a{
    color: white;
}


/*********search**********/
.searchBar{
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
    height: 70px;
    display: none;
}

input.search_input{
    float:left;
    font-size:15px;
    line-height:34px;
    margin-right:12px;
    margin-left: 12px;
    outline:medium none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.fa-search-second, .fa-times-circle, .fa-search-display{
    color: #fbba00;
}

.fa-shopping-cart, .fa-search-first, .fa-user{
    color: white;
}

.fa-shopping-cart{
    margin-right: 2px;
}

.fa-search-first{
    margin-bottom: 2px;
}

.searchBar_icons {
    display: flex;
    justify-content: center;
}

/*********Header_Display************/

a, a:hover{
    text-decoration: none;
    color: black;
    font-family: "Myriad Pro";
}

.menu_display a{
    font-size: 20px;
    text-transform: uppercase;
}

.menu_display{
    text-align: center;
}


.Logo_display{
    width: 120px;
    margin-top: 35px;
}

.top_line_header{
    z-index: -1;
    position:absolute;
    left:0;
    margin-top: 44px;
    border-bottom: 1px solid black;
}

.buttom_line_header{
    z-index: -1;
    position:absolute;
    left:0;
    margin-top: 126px;
    border-bottom: 1px solid black;
}

@media (max-width: 1000px) {
    .display, .display_footer {
        display: none !important;
    }
    .header{
        display: flex;
    }
    .mobile_footer{
        display: inherit;
    }
    iframe{
        pointer-events: none;
    }
    .fa-search-second{
        display: inherit !important;
    }
    .fa-search-display{
        display: none !important;
    }
}

@media (min-width: 1000px) {
    .display {
        display: flex;
    }
    /*.header_display{
        margin-bottom: -89px;

    }*/
    .display_footer{
        display: flex;
    }
    .mobile_footer{
        display: none !important;
    }
    .header{
        display: none !important;
    }
    .searchBar{
        margin-top: -47px;
    }
    .fa-search-second{
        display: none !important;
    }
    .fa-search-display{
        display: inherit !important;
    }
    .searchBar_icons{
        display:flex;
        justify-content: space-around !Important;
    }
    .content {
        /*margin-top: -89px;*/
        z-index: -10;
    }
}

.header_display{
    display: flex;
    align-items: center;
    /*background-color: white;*/
}

.header_display>div{
    margin-top: 0px;
}

.social_Media_display{
    display: flex;
    justify-content: space-around;
}
.social_Media_display img{
    margin-top: -5px;
}

.display_footer.first{
    height: 60px;
    padding-top: 20px;
    padding-left: 8.33%;
}
.display_footer div:nth-child(1), .display_footer div:nth-child(2),.display_footer div:nth-child(3),
.display_footer div:nth-child(5), .display_footer div:nth-child(6), .display_footer div:nth-child(7){
    display: flex;
    justify-content: center;
}

.display_footer div:nth-child(2),
.display_footer div:nth-child(6){
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px;
    margin:0;
}

.display_footer div:nth-child(1){
    border: none !important;
}

.instagram{
    border: none !important;
}


.dropdown {
    position: relative;
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #70a039;
    min-width: 160px;
    /*margin-top: 26px;*/
    margin-top: 54px;

    margin-right: 5px;
    -moz-margin-start: -50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a{
    border-bottom: 1px solid white;
    font-size: 15px;
    text-transform: none;
}

.dropdown-content a:last-child {
    border: none;
}


.dropdown-content a:hover {background-color: white; color: #70a039;}

.dropdown:hover .dropdown-content {
    display: block;
}

/********hover bei menü*********/

.actual{
    padding-top: 26px;
    padding-bottom: 29px;
    border-top: 4px solid #fbba00;
    margin-bottom: 3px;
}

.menu_display:hover{
    padding-top: 27px;
    padding-bottom: 27px;
    border-top: 4px solid #70a039;
    margin-top:-4px;
}

.menu_kontakt{
    width: 10%;
}

.search_search{
    background-color: #fbba00;
}

.search_person{
    background-color: #b02b17;
}

.search_cart{
    background-color: #70a039;
}


/*featured Products*/
.featuredProducts{
    border-bottom: 1px solid #fbba00;
    margin-left: 30px;
    margin-right: 30px;
}
.featuredProducts h1{
    color: #fbba00;
    border-bottom: 1px solid #fbba00;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    font-size: 25px;
}
.products div{
    display: flex;
    text-align: right;
    height: 100px;
    align-items: center;
    color: #fbba00;
    font-size: 40px;
}
.products{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    /*border-bottom: 1px solid #f0b300;*/
}

.products img{
    height: 100%;
}

.products a{

}
/*Ursaat Picture*/
/* Ursaat Picture*/
.ursaatPicture{
    background-image: url(../media/Hirse.jpg);
    width: 100%;
    height: 183px;
    color:white;
    padding-top: 1px;
    text-align: right;
}
.ursaatText {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.ursaatPicture button{
    background-color:#fbba00;
    border: 0;
    margin-right: 30px;
}

.ursaatPicture h1{
    font-size: 35px;
}

.ursaatPicture p{
    font-size: 20px;
    left: 50px;
}


/*Startseite News*/
.news{
    padding: 20px 0;
    display: flex;
    text-align: center;
}

.newsWrapper{
    margin: 0 auto;
    width: 90%;
    background-color: #fbba00;
    padding-bottom: 10px;

}
.newsWrapper a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.newsWrapper img{
    padding-top: 2%;
    width: 96%;
}

.newsWrapper div{
    width: 96%;
    background-color: white;
    text-align: center;
    padding: 0 6vw 3vh 6vw;
    margin: auto;
}

.newsWrapper h1{
    margin: 0 5px 0;
    padding-top: 10px;
    font-family: BigMisterC;
    font-weight: bolder;
    color: #fbba00;

}


/********************News**********************/
/*breadcrumbs*/
.breadcrumbs{
    height: 03vh;
    color: #fbba00;
    display: flex;
    text-align: center;
}
/*selectboxes*/
.row select,.row .search_news{
    background-color: white;
    border: 1px solid #fbba00;
    color: #fbba00;
    width: 90vw;
    height: 35px;
    margin: 0 5vw 1vh 5vw;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 20px;
    font-weight: 100;
    padding-left: 2vw;

}
/*searchbox*/
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #3c3c3c;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 18px;
    font-weight: 100;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #3c3c3c;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 18px;
    font-weight: 100;}
*::-moz-placeholder {
    /* FF 19+ */
    color: #3c3c3c;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 18px;
    font-weight: 100;}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #3c3c3c;
    font-family: "Myriad Pro", "sans-serif";
    font-size: 18px;
    font-weight: 100;
}




/*********search**********/
.searchBar{
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
    height: 70px;
    display: none;
}

input.search_input{
    float:left;
    font-size:15px;
    line-height:34px;
    margin-right:12px;
    margin-left: 12px;
    outline:medium none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input.search_input:focus{
    border: 1px solid #fbba00;
    color: #fbba00;
}

.fa-search-second, .fa-times-circle{
    color: #fbba00;
}

.fa-shopping-cart, .fa-search-first{
    color: white;
}

.fa-shopping-cart{
    margin-right: 2px;
}

.fa-search-first{
    margin-bottom: 2px;
}

.searchBar_icons {
    display: flex;
    justify-content: center;
}

/******************Kontakt********************/
.google_maps_card{
    margin-top: 35px !important;
    margin:auto;
}
.descriptiontext{
    margin-top: 50px;
}

.descriptiontext p{
    text-align: justify;
    font-size: 20px;
}

.contact_header_contentPage{
    margin-bottom: 30px;
}

.adress_name, .write_message p, .adress_box .opening_hours{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.adress_box{
    margin-left: -x30px;
}

.contact_information{
    margin-top: 30px !important;
}

.contact_information p{
    font-size: 16px;
    margin-left: 15px;
}

p.opening_hours, .write_message p{
    margin-top: 20px;
}

/*********form*********/
.form_main p{
    padding-left: 0px;
}

#form_div {
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    margin-top:30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.row input.feedback-input, .feedback_textarea {
    color:#3c3c3c;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 20px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    margin-left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid black;
}

.row input.feedback-input:focus, .feedback_textarea:focus{
    background: #fff;
    box-shadow: 0;
    margin-left: 0px;
    border: 1px solid #fbba00;
    color: #fbba00;
    outline: none;
    padding: 13px 13px 13px 13px;
}

.form_name, .form_email, .form_text{
    padding-right: 0px;
}

.feedback_textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.row input.feedback-input:hover, .feedback_textarea:hover,
.row input.feedback-input:focus, .feedback_textarea:focus {
    background-color:white;
}

#button-send{

    float:left;
    width: 200px;
    border: #fbba00 solid 4px;
    cursor:pointer;
    color: white;
    background-color: #fbba00;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-send:hover{
    background-color: white;
    color: #fbba00;
    border: #fbba00 solid 4px;

}

